body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.digit {
    font-size: 100px;
    font-weight: bold;
}

.text {
    font-size: 40px;
    font-weight: bold;
}

.btn-container {
    position: relative;
    left: 170px;
    margin-top: 40px;
}

.btn {
    padding: 15px;
    margin: 5px;
    color: white;
    border-style: none;
    font-weight: bold;
}

#start {
    background-color: salmon;
}

#stop {
    background-color: red;
}

#reset {
    background-color: chartreuse;
}

@media (max-width:425px) {
    .text {
        font-size: 20px;
    }
    .digit {
        font-size: 50px;
    }

    .btn {
        padding: 7px;
        margin: 2px;
    }
    .btn-container {
        left: 90px;
        margin-top: 25px;
    }   
}